[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt
	branch = v3.13.x
[submodule "vendor/imguizmo"]
	path = vendor/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "vendor/jolt"]
	path = vendor/jolt
	url = https://github.com/jrouwe/JoltPhysics
[submodule "vendor/oiio"]
	path = vendor/oiio
	url = https://github.com/AcademySoftwareFoundation/OpenImageIO
